<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link href="/css/styles.css" rel="stylesheet" type="text/css" >
    <link rel="stylesheet" href="css/style.css">
    <title>House of Horrors</title>
</head>
<body>
     <header class="himg navstrip">
                <div id="sidePanel" class="sidebar">
                        <a class="closebtn" onclick="closeNav()">×</a>
                        <ul class="panelText">
                        <a href="/">Top Rated</a>
                        <a href="/">Scroll Up</a>
                        </ul>
                </div>
                    
                    <nav class="level hnav">
                    <div id="main">   
                    <button class="openbtn burgerBtn" onclick="openNav()">☰</button>
                    </div>
                        <script>
                            function openNav() {
                            document.getElementById("sidePanel").style.width = "250px";
                            document.getElementById("main").style.marginLeft = "250px";
                            console.log("the button does something.")
                            }
                            function closeNav() {
                            document.getElementById("sidePanel").style.width = "0";
                            document.getElementById("main").style.marginLeft = "0";
                            };
                        </script>

                    <p class="level-item has-text-centered">
                        <a href="/" class="link is-info navitem">Home</a>
                    </p>
                    <p class="level-item has-text-centered">
                        <a href="/" class="maintitle">House of Horrors</a>
                    </p>
                    <p class="level-item has-text-centered">
                        <a href="about.handlebars" class="link is-info navitem">About</a>
                    </p>
                    <p class="level-item has-text-centered">
                        <a href="watchlist.handlebars" class="link is-info navitem">My Watchlist</a>
                    </p>
                    <p class="level-item has-text-centered">
                        <a href="reviews.handlebars" class="link is-info navitem">Submit Review</a>
                    </p>
                    <p class="level-item has-text-centered">
                        <a href="login.handlebars" class="link is-info navitem">Login</a>
                    </p>
                </nav>
            <main class="container container-fluid mt-5"></main>
        </header>
       
{{{body}}}

<footer class="navstrip">
    <div>Website Created by
    <a href="https://github.com/daniferru">daniferru,</a>
    <a href="https://github.com/Bentto90">Bentto90,</a>
    <a href="https://github.com/AntonioRobledo">AntonioRobledo,</a>
    <a href="https://github.com/Esfan7">Esfan,</a> and 
    <a href="https://github.com/BigNATE38">BigNATE38.</a>
    <p>2023</p>
    </div>
</footer>
</body>
</html>