<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="public/css/style.css" />
		<title>About</title>
	</head>
    <body class="aboutbackgrnd">
		<h1 class="titles">About</h1>
		<p class="abouttext aboutContainer">Are you a movie nut that loves being driven to the edge of your seat while being filled with intense emotions of suspense and terror? Do you often have a hard time finding the next perfect film to fulfill your night? Well wait no more! We are proud to introduce, House of Horror.
			<br>With this website you are able to search for movie trailers, trending news, top netflix movies streaming right now, and online horror movie resources. You are able to store a movie watchlist, and review different films you have already watched.</br>
		</p>

        <footer>
        </footer>
    </body>
</html>