 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <title>Login</title>
 </head>
 <body class="login-backgrnd">
<section>
  <div class="hero-body">
    <div class="login container">
      <div class="columns is-centered">
        <div class="login column is-5-tablet is-4-desktop is-3-widescreen">
         <div class="title">Login</div>
            <div class="account">Create Account</div>
          <form action="" class="loginBox box login-form">
            <div class="field">
              <label for="" class="label">Email</label>
              <div class="control has-icons-left">
                <input type="email" placeholder="Email address" class="input" id="email-login" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="label">Password</label>
              <div class="control has-icons-left">
                <input type="password" placeholder="Password" class="input" id="password-login" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <button class="button is-danger" type="submit">
                Login
              </button>
            </div>
          </form>
          <form action="" class="create box signup-form">
            <div class="field">
              <label for="" class="label">Username</label>
              <div class="control has-icons-left">
                <input type="text" placeholder="Username" class="input" id="username-signup" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="label">Email</label>
              <div class="control has-icons-left">
                <input type="text" placeholder="Email" class="input" id="email-signup" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="label">Password</label>
              <div class="control has-icons-left">
                <input type="password" placeholder="Password" class="input" id="password-signup" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <button class="button is-danger" type="submit">
                Create Account
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="./js/login.js"></script>
 </body>
 </html>