<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>
</head>
<body>
    <h1 class="level-item has-text-centered has-text-danger is-size-1">Submit a Review</h1>
</body>
</html>