<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Reviews</title>
</head>

<body>
  <h1 class="titles">Submit a Review</h1>
   <div class="reviewList">
      {{#each allReviews}}
        <div class="r{{this.id}}">
          <h4>"{{this.content}}"</h4>

          <div class="make{{this.rating}}"></div>

       

        </div>
      {{/each}}

    </div>

  <article class="media reviewForm">
    <div class="media-content">
      <div class="field">
        <p class="control">
        <div class="axe-row" id="axeRow">
       
        </div>
        <form method="post" action="/api/reviews">
        <input type="hidden" id="rating" name="rating">
        <textarea class="textarea" name="content"placeholder="Add a comment..."></textarea>
        <input type="submit" class="button is-info is-danger mt-3" value="submit">
        </form>
        </p>
      </div>
      
    </div>
  </article>
  <script>
    



    /*   <img class="axe axe1" src="/images/axeWhite.svg" />
          <img class="axe axe2" src="/images/axeWhite.svg" />
          <img class="axe axe3" src="/images/axeWhite.svg" />
          <img class="axe axe4" src="/images/axeWhite.svg" />
          <img class="axe axe5" src="/images/axeWhite.svg" />*/
          let axeRowEl = document.querySelector("#axeRow")
    function show(num = 0, targetEl){
      
        
        axeRowEl.innerHTML = "";
       for(let i = 0 ; i < 5 ; i ++){
          let imgEl = document.createElement("img");
          imgEl.classList = "axe axe" + (i + 1);

          if(i < num){
            imgEl.setAttribute("src", "/images/axeRed.svg");
          } else {
            imgEl.setAttribute("src", "/images/axeWhite.svg");
          }

           imgEl.addEventListener("click", (e) => {
              let target = e.target.classList[1].replace("axe", "");
              console.log("i clicked", target)
              //target represent number
              show(target)
              document.querySelector("#rating").value = target
          
            })

       

          axeRowEl.appendChild(imgEl);

       }
    }

    show(0,"#axeRow");

    function addStars(num,targetEl){
      let targetList = document.querySelectorAll(targetEl);

      for(let j = 0; j < targetList.length; j++){
         for(let i = 0 ; i < 5 ; i ++){
          let imgEl = document.createElement("img");
          
          if(i < num){
            imgEl.setAttribute("src", "/images/axeRed.svg");
          } else {
            imgEl.setAttribute("src", "/images/axeWhite.svg");
          }          
          targetList[j].appendChild(imgEl);

       }

    }


      }//end of function

     

    addStars(1,".make1");
    addStars(2,".make2");
    addStars(3,".make3");
    addStars(4,".make4");
    addStars(5,".make5");
        




  </script>
</body>

</html>