<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Watchlist</title>
</head>
<body>
    <h1 class="level-item has-text-centered has-text-danger is-size-1">My Watchlist</h1>
</body>
</html>