<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Watchlist</title>
</head>
<body>
    <h1 class="reviewtitle">My Watchlist</h1>
</body>
</html>
<script>
  let boxes = document.getElementsByClassName("subImg")
  let favs = []
  for(let i = 0; i , boxes.length; i++)
  {
    boxes[i].addEventListener("click", function(){
        favs.push(boxes[i])
      })
  }
</script>