@font-face {
    font-family: 'Dignity';
    src: url(PlayfairDisplaySC-Regular);
}

body {
    background-color: black;
}

h2 {
    position: relative;
    font-family: 'Dignity';
    margin-top: 50px;
    margin-right: 105px;
}

footer {
    border-top: 2px solid black;
    padding: 15px;
    margin: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    color: aliceblue;
}

.maintitle {
    color: red;
    font-family: 'Dignity';
    font-size: xx-large;
}

.maintitle:hover {
    color: aliceblue;
}

.nav {
    display: flex;
    flex-direction: column;
}

.navitem {
    color: aliceblue;
    text-decoration: none;
}

.navitem:hover {
    color: red;
    font-size: larger;
}

.input {
    border-radius: 10px;
    width: 1600px;
    height: 50px;
    margin-top: 20px;
    position: relative;
}

.input:hover {
    border: 2px solid red;
}

.column {
    margin-top: 40px;
}

.subgenre {
    position: relative;
    left: 22px;
    bottom: 15px;
}

.subgenre2 {
    position: relative;
    left: 5px;
    bottom: 15px;
}

.subgenre3 {
    position: relative;
    left: 15px;
    bottom: 15px;
} 

.subgenre4 {
    position: relative;
    left:  5px;
    bottom: 15px;
}

.subImg {
    border-radius: 5px;
    margin-top: 10px;
}

.subImg:hover {
    transform: scale(1.1);
    border: 2px solid red;
}

.container {
    align-items: center;
    justify-content: center;
}

img {
    border-radius: 5px;
}

.leftText {
    display: flex;
    font-size: 20px;
    padding-left: 150px; 
    position: relative;
    bottom: 100px;
}

.rightText {
    display: flex;
    position: relative;
    font-size: 20px;
    bottom: 30px;
}

.rightImg {
    float: right;
    position: relative;
    bottom: 70px;
}

.reviewForm {
    position: relative;
    top: 30px;
}