body {
    background-color: black;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: black;
}

footer {
    border-top: 2px solid black;
    padding: 15px;
    margin: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    color: aliceblue;
}

.maintitle {
    color: red;
    font-size: xxx-large;
    font-style: uppercase;
    font-family: 'Creepster', cursive;
}

.maintitle:hover {
    color: aliceblue;
}

.nav {
    display: flex;
    flex-direction: column;
}

.navitem {
    color: aliceblue;
    text-decoration: none;
}

.navitem:hover {
    color: red;
    font-size: larger;
}

.panel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.panel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.panel a:hover {
    color: #f1f1f1;
}
  
.panel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}
  
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}
  
.openbtn:hover {
    background-color:#444;
}

.container{
    height:80vh;
    margin-top: 20vh;
    align-items: center;
}

.input {
    background-color: rgb(245, 50, 50);
    border-radius: 10px;
    width: 1700px;
    height: 50px;
    margin-top: 20px;
    position: relative;
    left: 100px;
}

.parallax {
    background-image: url("../images/eyeballparallax.PNG");
    height: 500px;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
}

@media only screen and (max-device-width: 1366px) {
    background-attachment: scroll;
}